<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autoupdater.NET.Official" version="1.4.7" targetFramework="net451" />
  <package id="Costura.Fody" version="1.6.2" targetFramework="net451" developmentDependency="true" />
  <package id="Fody" version="2.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="HelixToolkit" version="1.1.0" targetFramework="net451" />
  <package id="HelixToolkit.Wpf" version="1.1.0" targetFramework="net451" />
  <package id="log4net" version="2.0.8" targetFramework="net451" />
</packages>